<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="apple-itunes-app" content="app-id=376510438, affiliate-data=, app-argument=">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
