<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="apple-itunes-app" content="app-id=284847138, affiliate-data=, app-argument=https://smartbannerkjb.herokuapp.com/testing">
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/javascripts/service-worker.js'></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
