<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="author" content="Hulu LLC">
    <meta name="apple-itunes-app" content="app-id=376510438">
    <meta name="google-play-app" content="app-id=com.hulu.plus">
    <meta name="msApplication-ID" content="App" />
    <meta name="msApplication-PackageFamilyName" content="HuluLLC.HuluPlus_fphbd361v8tya" />
    <meta name="msApplication-PackageEdgeName" content="9WZDNCRFJ3L1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.smartbanner.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='/javascripts/jquery.smartbanner.js'></script>
    <script>
      $(function() {
        $.smartbanner({ daysHidden: 0, daysReminder: 0, title:'Hulu' });
      });
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
