<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="author" content="Hulu LLC">
    <meta name="apple-itunes-app" content="app-id=284847138">
    <meta name="google-play-app" content="app-id=com.infonow.bofa">
    <meta name="msApplication-ID" content="App" />
    <meta name="msApplication-PackageFamilyName" content="HuluLLC.HuluPlus_fphbd361v8tya" />
    <meta name="msApplication-PackageEdgeName" content="9WZDNCRFJ3L1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.smartbanner.css' />
    <meta name="msapplication-TileImage" content="http://is4.mzstatic.com/image/thumb/Purple111/v4/0e/a9/26/0ea926c0-e347-75cd-7025-54b73200957f/source/175x175bb.jpg" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
  
  </head>
  <body>
    <iframe id="l" width="1" height="1" style="visibility:hidden"></iframe>
    {{{body}}}
  </body>
</html>
